<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <% products.map((products)=>{ %>
    <h4>
      <a href="/products/<%=product.id%>"><%=products.Title %></a>
    </h4>
    <p>
      <%=products.Description %>
    </p>
    <p>ราคา: <%=products.Price %> บาท</p>
    <%})%>
</body>

</html>