<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Product Detail</h1>
    <h4>
      <a href="/products/<%=products.id%>"><%=products.Title %></a>
    </h4>
    <p>
      <%=products.Description %>
    </p>
    <p>ราคา: <%=products.Price %> บาท</p>
</body>

</html>